// colors
$white: #ffffff;
$gold: #e1bb60;
$blue: #232932;
$red: #e91e44;

.main-color {
  color: $white;
}
.color1 {
  color: $gold;
}
.color2 {
  color: $blue;
}
.color3 {
  color: $red;
}

@mixin offcenter {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  width: 80%;
}

@mixin section($color) {
  height: 600px;
  background: $color;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Grad";
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.space-above {
  margin-top: 10px;
}

.main-nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $blue;
  z-index: 1000;

  .logo {
    color: $gold;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;

    span {
      margin-left: 3px;
      color: $white;
    }
  }

  .menu {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 20px;

    .gold, .white1, .white2 {
      position: absolute;
      right: 0;
    }

    .gold {
      height: 5px;
      width: 100%;
      background: $gold;
      top: 0;
    }

    .white1 {
      height: 5px;
      width: 70%;
      background: $white;
      top: 50%;
      transform: translateY(-50%);
    }

    .white2 {
      height: 5px;
      width: 40%;
      background: $white;
      bottom: 0;
    }
  }
}

.text-container {
  @include offcenter;

  .big-title {
    margin: 0;
    padding: 0;
    font-size: 55px;
    line-height: 18px;
    font-weight: bold;

    h1 {
      width: 100%;
    }

    h2 {
      font-size: 28px;
      font-weight: 600;

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .cta {
    a {
      display: block;
      text-decoration: none;
      margin: 10px 0;

      &:first-child {
        margin-top: 60px;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

header {
  @include section($blue);
}

#design {
  @include section($red);
}

#development {
  @include section($gold);
}

#writing {
  @include section($blue);
}

#contact {
  @include section($red);
}

footer {
  height: 50px;
  background: $gold;

}
