// colors
$white: #ffffff;
$gold: #e1bb60;
$blue: #232932;
$red: #e91e44;

body {
  margin: 0;
  padding: 0;
  font-family: "Grad";
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.space-above {
  margin-top: 10px;
}

.main-nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $blue;
  z-index: 1000;

  .logo {
    color: $gold;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;

    span {
      margin-left: 3px;
      color: $white;
    }
  }

  .menu {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 20px;

    .gold, .white1, .white2 {
      position: absolute;
      right: 0;
    }

    .gold {
      height: 5px;
      width: 100%;
      background: $gold;
      top: 0;
    }

    .white1 {
      height: 5px;
      width: 70%;
      background: $white;
      top: 50%;
      transform: translateY(-50%);
    }

    .white2 {
      height: 5px;
      width: 40%;
      background: $white;
      bottom: 0;
    }
  }
}

header {
  height: 600px;
  background: $blue;
  position: relative;

  .main-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 20px;
    font-size: 50px;

    h1:first-child {
      color: $white;
    }
    h1:last-child {
      color: $gold;
    }
  }

  .cta {
    position: absolute;
    top: 70%;
    left: 29%;
    width: 100%;
    transform: translateY(-50%);
    text-align: left;

    a {
      display: block;
      text-decoration: none;
      margin: 10px 0;

      &:first-child {
        color: $gold;
      }

      &:last-child {
        color: $white;
        margin-bottom: 0;
      }
    }
  }
}
